body {
    padding-top: 60px;
}

h1, h2, h3 {
    margin-bottom: 15px;
}

.table .id-column, .table .submits-column, .table .rate-column {
    width: 60px;
}

.problem-text {
    white-space: pre-wrap;
    padding: 15px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.form-page label {
    width: 70px !important;
}

.form-page .controls {
    margin-left: 90px !important;
}

.form-page .form-actions {
    padding-left: 90px !important;
}