
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RN Academy - Edit Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/commons/twitter/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/commons/twitter/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/views/website/css/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

#parse("/views/website/_header.html")

    <div class="container">

      <h1>Edit Profile</h1>
      <div class="container">

        <form method="POST" class="form-horizontal form-page" action="/edit-profile">
            <fieldset>
                <legend>Fill fields below and click "Save" button</legend>
#if ($validationResult)
                <br>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">&times;</a>
                    <h4 class="alert-heading">Error</h4>
#foreach ($validationMsg in $validationResult)
                    <p>$lang.get($validationMsg)</p>
#end
                </div>
#end
                <div class="control-group">
                  <label class="control-label" for="name">* Name:</label>
                  <div class="controls">
                    <input type="text" class="input" id="name" name="name" value="$!name">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="email">* Email:</label>
                  <div class="controls">
                    <input type="text" class="input" id="email" name="email" value="$!email">
                    <p class="help-block">Your email addres won't be available for other users</p>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="password">* Password:</label>
                  <div class="controls">
                    <input type="password" class="input" id="password" name="password" value="$!password">
                    <p class="help-block">Minimum 6 symbols</p>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="password2">* Password:</label>
                  <div class="controls">
                    <input type="password" class="input" id="password2" name="password2" value="$!password">
                    <p class="help-block">Repeat your password once more</p>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="country">Country:</label>
                  <div class="controls">
                    <select class="input" id="country" selectedvalue="$!country" name="country">
                        <option value="world">World Citizen</option>
                        <option value="az">Azerbaijan</option>
                        <option value="ru">Russia</option>
                        <option value="en">UK</option>
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="about">About:</label>
                  <div class="controls">
                    <textarea class="input-xlarge" rows="6" id="about" name="about">$!about</textarea>
                    <p class="help-block">Describe yourself briefly. These text will appear on your profile page</p>
                  </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-primary">Save</button>
                <a style="margin-left: 15px;" href="/">back to the home page</a>
            </div>
        </form>
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/commons/twitter/bootstrap/js/bootstrap.min.js"></script>
    <script src="/commons/twitter/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/commons/twitter/bootstrap/js/bootstrap-dropdown.js"></script>

    <script src="/views/website/js/ff.js"></script>
    <script>$(function() { FF.init('sign-up') });</script>

  </body>
</html>
