
<!DOCTYPE html>
#set($problem = $d.get("problem"))
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>$profileAccount.name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/views/website/css/style.css" rel="stylesheet">
    <link href="/views/website/css/profile.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

#parse("/views/website/_header.html")

    <div class="container">


      <div class="row">

          <div class="span3 profile-sidebar">
              <h2>$profileAccount.name</h2>
              <h4 class="profile-about">$profileAccount.about</h4>

              #if($account.id == $profileAccount.id)
              <h3>
                  <a class="btn" href="/edit-profile"><i class="icon-pencil"></i> Profilinizi Yeniləyin</a>
              </h3>

              #end

              <h3>Statistika</h3>
              <table class="table">
                  <tbody>
                  <tr>
                      <td><i class="icon-star"></i> Ranking</td>
                      <td><strong>#11</strong></td>
                  </tr>
                  <tr>
                      <td><i class="icon-flag"></i> Solved problems</td>
                      <td><span class="label label-success">211</span></td>
                  </tr>
                  <tr>
                      <td><i class="icon-signal"></i> Success rate</td>
                      <td>68%</td>
                  </tr>
                  </tbody>
              </table>

              <h3>Nəticələr</h3>
              <table class="table">
                  <tbody>
                  <tr>
                      <td><i class="icon-ok"></i> Accepted</td>
                      <td><span class="label label-success">321</span></td>
                  </tr>
                  <tr>
                      <td><i class="icon-remove"></i> Wrong Answer</td>
                      <td>13</td>
                  </tr>
                  <tr>
                      <td><i class="icon-remove-sign"></i> Compilation Error</td>
                      <td>12</td>
                  </tr>
                  <tr>
                      <td><i class="icon-time"></i> Time limit</td>
                      <td>102</td>
                  </tr>
                  <tr>
                      <td><i class="icon-align-left"></i> Memory limit</td>
                      <td>0</td>
                  </tr>
                  <tr>
                      <td><i class="icon-print"></i> Output limit</td>
                      <td>0</td>
                  </tr>
                  </tbody>
              </table>

              <h3>Həll olunmuş məsələlər</h3>
              <div>
                  #foreach($submit in $solvedProblems)
                  <a class="btn" href="/problems/$submit.problemNo">#$!submit.problemNo</a>
                  #end
              </div>

          </div>

          <div class="span8 last-submits">

              <h3>Son göndərilmiş həllər</h3>

              #foreach ($submit in $latestSubmits)
              <div class="breadcrumb">
                  #if($account.id == $profileAccount.id)
                  <a href="/submits/$submit.id">$submit.submittedDate</a>
                  #else
                  <span>$submit.submittedDate</span>
                  #end

                  &nbsp; <a href="/problems/$submit.problemNo">Problem #$submit.problemNo</a>
                  #if ($submit.status.accepted)
                 <span class="submit-status pull-right label label-success">$!submit.status</span>
                 #else
                 <span class="submit-status pull-right label">$!submit.lastProcessedTestStatus</span>
                 #end
              </div>
              #end


          </div>

      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/commons/twitter/bootstrap/js/bootstrap.min.js"></script>
    <script src="/commons/twitter/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/commons/twitter/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/commons/twitter/bootstrap/js/bootstrap-transition.js"></script>

    <script src="/views/website/js/ff.js"></script>
    <script>$(function() { FF.init('problems') });</script>

  </body>
</html>
