<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Cloud Judge (admin)</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a class="nav-problems" href="/admin/problems">Problems</a></li>
          <li><a class="nav-rankings" href="/">System Monitor</a></li>
        </ul>
        <ul class="nav pull-right">

          <li class="divider-vertical"></li>
#if ($isSignedIn == true)
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">$account.getEmail()<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/profile?id=$account.getId()">My Profile</a></li>
              <li><a href="/edit-profile">Edit Profile</a></li>
              <li class="divider"></li>
              <li><a href="/sign-out">Sign Out</a></li>
            </ul>
          </li>
#else
          <li><a href="/sign-up">Sign Up</a></li>
          <li><a href="/sign-in?from=$url">Sign In</a></li>
#end
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>